nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;

  .nav-brand {
    max-width: 100%;

    display: inline;
    font-weight: 600;
    font-size: 20;
    @include tablet {
      font-size: 1em;
    }
  }
  .nav-links {
    display: inline;
    .nav-item {
      &:hover {
        opacity: 0.5;
      }
      transition: 0.2s ease;
      margin-left: 40px;
      float: right;

      @include phone {
        margin-left: 20px;
      }
    }
  }
}
.container-nav {
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
  @include tablet {
    width: 85%;
  }
  @include phone {
    width: 90%;
  }
}
