.projects {
  .project-design-section {
    .project-design-title {
      margin-bottom: 2em;
    }
    .projects-design {
      display: flex;
      justify-content: space-between;
      @include phone {
        flex-direction: column;
      }
      .project-design {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include phone {
          width: 100%;
          margin-bottom: 2.5em;
        }
        a {
          &:hover {
            .project-design-overlay {
              background: rgba(0, 0, 0, 0.3);
              span {
                opacity: 1;
              }
            }
          }
          text-align: center;
          display: block;
          position: relative;
          img {
            width: 80%;
            @include tablet {
              width: 90%;
            }
          }

          .project-design-overlay {
            margin: 0 auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 80%;
            background: rgba(0, 0, 0, 0);
            transition: 0.3s ease;

            span {
              font-size: 1.5em;
              text-transform: uppercase;
              letter-spacing: 0.2em;
              position: absolute;
              color: white;
              text-align: center;
              top: 50%;
              left: 50%;
              // display: none;
              transform: translate(-50%, -50%);
              transition: 0.3s ease;
              opacity: 0;
            }
          }
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 80%;
          @include tablet {
            width: 90%;
          }
          h3 {
            margin: 20px 9px;
            display: inline-block;
          }
        }
      }
    }
  }

  .project {
    .project-name {
      @include tablet {
        font-size: 1.3em;
      }
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;

    @include tablet {
      flex-direction: column-reverse;
    }
    @include phone {
      margin-bottom: 70px;
    }
    .project-content {
      .primary-btn {
        margin-right: 1em;
      }
      width: 50%;
      @include tablet {
        width: 100%;
      }
    }
    .project-image {
      position: relative;
      margin-left: 100px;
      width: 40%;

      @include tablet {
        width: 100%;
        margin-left: 0;
        margin-bottom: 55px;
      }
      @include phone {
        margin-bottom: 40px;
      }
      a {
        &:hover {
          img {
            transform: translate(-9px, -9px);
          }
          .overlay {
            background: rgba(0, 0, 0, 0.3);

            transform: translate(-9px, -9px);
            span {
              opacity: 1;
            }
          }
        }
        img {
          // width: 100%;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          transition: 0.3s ease;
          @include tablet {
            width: 90%;
            display: block;
            margin-left: 2%;
          }
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0);
          transition: 0.3s ease;

          span {
            font-size: 1.5em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            position: absolute;
            color: white;
            text-align: center;
            top: 50%;
            left: 50%;
            // display: none;
            transform: translate(-50%, -50%);
            transition: 0.3s ease;
            opacity: 0;
          }
        }

        .back-layer-pink {
          @include back-layer($pink);
        }

        .back-layer-green {
          @include back-layer($green);
        }
      }
    }
  }
}
