.what-i-do {
  padding: 20px 0;
  .what-i-do-content {
    display: flex;
    @include tablet {
      flex-direction: column;
    }
    h3 {
      padding: 1em 0 0.5em;
    }
    .front-end,
    .back-end {
      width: 50%;
      @include tablet {
        width: 100%;
      }
    }
    .back-end {
      margin-left: 1em;
      @include tablet {
        margin-left: 0;
      }
    }
    .title-desc {
      width: 90%;
      min-height: 90px;
      @include tablet {
        min-height: unset;
      }
    }
  }

  .tags {
    margin-top: 2em;
    li {
      display: inline-block;
      padding: 4px 10px;
      border-radius: 3px;
      margin-bottom: 1em;
      margin-right: 6px;
      font-size: 0.9em;
      // color: #383838;
    }
  }

  .green {
    li {
      background-color: $green;
    }
  }
  .pink {
    li {
      background-color: $pink;
      color: white;
    }
  }
}
